<h1>Welcome on <%= node['hostname'] %></h1>

<ul>
  <li><a href="/phpMyAdmin">phpMyAdmin</a></li>
  <li><a href="http://neos.local">neos.local</a> &nbsp;|&nbsp; <a href="http://neos.local/neos">neos.local/neos</a>  &nbsp;|&nbsp; <a href="http://neos.local/setup">neos.local/setup</a></li>
</ul>

<hr />

<?php

phpinfo();
